.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.back-to-top-img {
    position: fixed;
    top: 1px;
    right: 20px;
    border-radius: 100px;
    /* box-shadow: 0 5px 10px #ccc; */
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    opacity: 0.75;
    /* max-width: 1vw; */
}

.back-to-top {
    position: fixed;
    top: 1px;
    right: 20px;
    border-radius: 100px;
    /* box-shadow: 0 5px 10px #ccc; */
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: transparent;
    border-color: transparent;
    opacity: 0.5;
    /* max-width: 2vw; */
}

.back-to-top-img:hover {
    opacity: 1;
}

Button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16), 0 0 16px 0 rgb(0 0 0/8%);
}